<script>
  window.location.replace(
    'https://gitlab.com/harka-projects/note-harka-com/-/blob/main/README.md'
  );
</script>
<noscript>
  <meta
    http-equiv="refresh"
    content="0;URL='https://gitlab.com/harka-projects/note-harka-com/-/blob/main/README.md'"
  />
</noscript>
